@import "https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css";

header {
    display: flex;
    justify-content: space-between;
    padding-top: 20px;
    max-width: 1300px;
}

.Logo{
    width: 213px;
    height: 43px;
    margin-left: 30px;
    transition: margin .125s ease;
}

h1, .TitleList .Title {
    font-size: 24px;
    font-weight: 300;
    color: white;
}

.UserProfile .User {
    display: flex;
    color: #ffffff;
    margin-top: 12px;
}

.UserProfile .User .image {
    border-radius: 44px;
    margin-left: 100px;
    overflow: hidden;
    width: 44px;
    height: 44px;
    box-sizing: border-box;
    border: 3px solid transparent;
    -webkit-transition: border .125s ease;
    transition: border .125s ease;
}
.UserProfile .User .image img {
    width: 100%;
    display: block;
}
.UserProfile .User .name {
    align-items: center;
    display: flex;
    font-size: 14px;
    font-weight: 200;
    height: 40px;
    width: 100px;
}
.UserProfile .User:hover {
    cursor: pointer;
}
.UserProfile .User:hover .image {
    border: 3px solid #e50914;
}
.UserProfile .UserProfile-menu {
    display: none;
}
.arrow{
     border-left: 4px solid transparent;
     border-bottom: 0 dotted;
}

.Search{
    align-items: center;
    justify-content: center;
    width: 150%;
    padding-top: 7px;
    position: absolute;
    display: flex;
    justify-content: center;
    pointer-events: none;
}

.Search input {
    font-family: "Lato", sans-serif;
    font-weight: 300;
    font-size: 14px;
    height: 30px;
    width: 10%;
    background: rgba(100,100,100,100);
    color: #ffffff;
    appearance: none;
    border: 0;
    border: 1px solid rgba(245, 245, 241, 0.1);
    outline: none;
    border-radius: 10px;
    padding: 0 10px;
    pointer-events: all;
}

.Search input:focus {
    border: 2px solid #e50914;
}

.Navigation ul {
    display: flex;
    height: 37px;
    align-items: center;
    padding: 10px 10px;
    color: white;
    list-style: none;
    border-bottom: 0.5px solid #484848;

}
.Navigation ul li {
    font-weight: 400;
    padding: 12px 17px;
    font-size: 14px;
    -webkit-transition: background .125s ease;
    transition: background .125s ease;
    border-radius: 3px;
}
.Navigation ul li:hover {
    background: #e50914;
    cursor: pointer;
}
.container{
    max-width: 1200px;
}

.Item {
    width: 270px;
    min-width: calc(20% - 10px);
    background-color: #000000;
    flex: 1 0 auto;
    background-position: center;
    background-size: 100%;
    height: 200px;
    background-repeat: no-repeat;
    overflow: hidden;
    transition: background 1s ease;
    margin: 10px;
}
.Item:nth-child(n+6) {
    margin-top: 30px;
}
.Item:last-child {
    margin-right: 0;
}
.Item .overlay {
    /* FF3.6-15 */
    background: -webkit-linear-gradient(top, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, rgba(0, 0, 0, 0.75) 0%, transparent 100%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a6000000', endColorstr='#00000000',GradientType=0 );
    /* IE6-9 */
    padding: 10px;
    position: relative;
    height: 100%;
    pointer-events: none;
    opacity: 0;
    transition: opacity .125s ease;
}
.Item:hover {
    background-size: 150%;
}
.Item:hover .overlay {
    opacity: 1;
    pointer-events: all;
}

.Item:hover .overlay .title {
    opacity: 1;
    color: #fff;
    font-size: 15px;
}
.Item:hover .overlay .ListToggle {
    opacity: 1;
}
.TitleList {
    padding: 20px 40px;
    box-sizing: border-box;
    transition: opacity 3s ease;
    opacity: 1;
    position: relative;
    z-index: 1;
    opacity: 0;


}
.TitleList .titles-wrapper {
    display: flex;
    flex-wrap: wrap;
    width: calc(100vw - 80px);
    box-sizing: border-box;
}
.ListToggle {
    width: 60px;
    height: 60px;
    font-size: 30px;
    border-radius: 100px;
    overflow: hidden;
    position: absolute;
    right: 38%;
    top: 29%;
    color: #B3B3B3;
    opacity: 1;
}

.ListToggle  i {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 60px;
    width: 60px;
}

.ListToggle{
    border: 10px solid  #B3B3B3;
}

.TitleList[data-loaded='true'] {
    opacity: 1;
}

@media screen and (max-width: 908px) {
    header {
        display: flex;
        flex-direction: row;
        padding-top: 20px;
        max-width: 1300px;
    }

    .Search{
        width: 150%;
        padding: 45px 0 50px ;
        display: flex;
        align-content: flex-end;
        pointer-events: none;
    }

    .Search input {
        font-family: "Lato", sans-serif;
        font-weight: 300;
        font-size: 14px;
        height: 30px;
        width: 20%;
        background: rgba(100,100,100,100);
        color: #ffffff;
        appearance: none;
        border: 0;
        border: 1px solid rgba(245, 245, 241, 0.1);
        outline: none;
        border-radius: 10px;
        padding: 0 10px;
        pointer-events: all;
    }

}

.title {
    color: white;
    margin: 10px;
}

.Container {
    display: grid;
    grid-template-columns: 1.1fr 1fr 1fr;
    color: white;
    grid-gap: 20px;
}

.poster {
    width: 100%;
    margin: 10px;
}

.Container .Description {
    color: white;
    text-align: justify;
}

.renta-compra {
    max-width: 380px;
}

.end {
    color: white;
    margin-right: 10px;
}


@media screen and (max-width: 1000px) {
    .Container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    }
    .Description {
        margin-right: 5px;
    }
    .end {
        grid-column: 1/3;
        margin-left: 10%;
        margin-right: 10%;
        text-align: right;
    }
    .renta-compra {
        text-align: center;
        max-width: 80%;
    }
}

@media screen and (max-width: 425px) {
    .title {
        margin: 10px;
        text-align: center;
    }
    .Container {
        display: inline-block;
    }
    .poster {
        margin: 0;
    }
    .Container .Description {
        padding: 10px;
        text-align: justify;
    }
}
